* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: whitesmoke;
  

}

.herobanner {
  background: url("../images/background2.png");
  width: 100%;
  height: 250px;
  background-size: cover;
}

#navbar{
  text-align:start;
  padding: 10px;
  padding-left: 20px;
  color: black;
  font-size: x-large;
  
}

.nav-items li a {
  color: #000;
}

#banner{
  height:200px;
}

#herobanner{
  height: 200px;
  width: auto;
}

#profile {
  height: 125px;
  width: 125x;
  border: black;
  border-color: black
}

#navigation{
display: flex;
width:auto;
justify-content: space-between;
font-size: x-large;


}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  justify-content: ;
  
}

li{
  display: inline;
  font-size: 30px;
  color: whitesmoke;
}




/*.hero-banner{
  display: block;
  background-image: url("./starter/images/herobanner.png");
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  color: black;



}*/

.flex-container {
  display: flex;
  background-color: whitesmoke;
  background-image: linear-gradient(to bottom right, grey, black)
}

.flex-container > div {
  background-color: whitesmoke;
  margin: 5px;
  padding: 20px;
  font-size: 30px;
  
}

#wh{
  text-align: center;
  text-decoration: underline;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px 80px 200px;
  gap: 10px;
  color: black;
  background-image: linear-gradient(to bottom right, grey, black)
  padding: 20px;

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: Center;
  padding: 20px 0;
  font-size: 30px;
}

#work h2{
  text-decoration: underline;

}

#jakeseatery {
  display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 200px;

}

#furniture {
  display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 200px;

}

#cheat-sheet {
  display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 200px;

}

#placeholder-image {
  display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 200px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
  color: black;
}