* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: blanchedalmond;

}

#navbar{
  text-align: center;
  color: blueviolet;
}

#navigation{
display:flex;
width:75%;
padding: 20px;
text-align: right;
justify-content:space-evenly;

}

img{
  border-radius: 4px;
  width: 100px;
  height: 100px;
}


.hero-banner{
  display: block;
  background-image: url(../images/02-hero-bg.png);
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  color: aquamarine;



}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}

#wh{
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px 80px 200px;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: Center;
  padding: 20px 0;
  font-size: 30px;
}

#jakeseatery {
  display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 200px;

}

#furniture {
  display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 200px;

}

#cheat-sheet {
  display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 200px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}